<h1>Bulk Discount Index</h1>
<h2>Upcoming Holidays</h2>
<ul id='holidays'>
  <% @holidays.each do |holiday| %>
    <li id = "discount_<%=holiday.date%>">
      <p><%= holiday.name %> on <%= holiday.date %></p>
    </li>
  <% end%>
</ul>
<h2> Bulk Discounts </h2>
<ul id='discounts'>
  <% @bulk_discounts.each do |bulk_discount| %>
    <li id = "discount_<%=bulk_discount.id%>">
      <%= link_to "Bulk Discount ##{bulk_discount.id}", merchant_bulk_discount_path(bulk_discount.merchant_id, bulk_discount)%>
      <%= form_with model: bulk_discount, url: merchant_bulk_discount_path(bulk_discount.merchant_id, bulk_discount), method: :delete do |form|%>
        <%= form.submit "Delete"%>
      <%end%>
      <p>Discount: <%= bulk_discount.discount %>%</p>
      <p>Threshold: <%= bulk_discount.threshold %> items</p>
    </li>
  <% end%>
</ul>

<%= link_to "Create New Discount", new_merchant_bulk_discount_path %>