<h1> Invoice <%= @invoice.id %> </h1>

<div class="invoice">
  Invoice ID: <%= @invoice.id %> <br>
  Invoice Status: <%= @invoice.status %> <br>
  Invoice Created At: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %> <br>
  Invoice Customer: <%= @invoice.customer.full_name %>
</div>

<br>

<div class="items">
  <% @invoice.items.each do |item| %>
    <div id="item-<%=item.id%>">
      Item Name: <%= item.name %> <br>
      Item Quantity: <%= @invoice.find_invoice_item(@invoice, item).first.quantity %> <br>
      Item Price: $<%= ((item.unit_price.to_f) / 100).round(3) %> <br>
      Invoice Status: <%= @invoice.find_invoice_item(@invoice, item).first.status %> <br>
      <br>
      <br>
  <% end %>
</div>