<h1> Invoice <%= @invoice.id %> </h1>

<div class="invoice">
  Invoice ID: <%= @invoice.id %> <br>
  Invoice Status: <%= @invoice.status %> <br>
  Invoice Created At: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %> <br>
  Invoice Customer: <%= @invoice.customer.full_name %>
</div>

<br>

<div class="items">
  <% @invoice.items.each do |item| %>
    <div id="item-<%=item.id%>">
      Item Name: <%= item.name %> <br>
      Item Quantity: <%= @invoice.find_invoice_item_quantity(@invoice, item) %> <br>
      Item Price: $<%= number_with_precision ((item.unit_price.to_f) / 100), precision: 2, delimiter: "," %> <br>
      Invoice Status: <%= @invoice.find_invoice_item_status(@invoice, item) %> 
      <div id="status-update-<%=item.id%>">
        <%= render partial: 'update_item_status', locals: { path: merchant_invoice_item_path(item.merchant, invoice_id: @invoice, item_id: item.id), method: :patch, options_array: ["Pending", "Packaged", "Shipped"], button_text: 'Submit' } %>
      </div>
      <br>
      <br>
  <% end %>
</div>

<br>
<br>
  <h4 id ='total_revenue'>
    Total Revenue: $<%= number_with_precision ((@invoice.merchant_total_invoice_revenue(@merchant).to_f) / 100), precision: 2, delimiter: "," %>
  </h4>
  <% if @invoice.any_merchant_discounts?(@merchant) %>
    <h4 id ='total_disco_revenue'>
      Total Discounted Revenue: $<%= number_with_precision ((@invoice.merchant_total_discounted_revenue(@merchant).to_f) / 100), precision: 2, delimiter: "," %>
    </h4>
  <%  else %>
    <h4>No Bulk Discounts Applied</h4>
  <% end%>