<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |type, msg|%>
      <div>
      <%= msg %>
      </div>
    <% end %>
    <%= yield %>
    <p> Repo Name: <%= @github_info[:repo_name] %> </p>
    <% @github_info[:teammates].each do |teammate| %>
      <p> <%= teammate.username %> </p>
      <p> <%= teammate.commits %> </p>
      <%end%>
    <p> Pull Request Count: <%=@github_info[:pull_request_count]%> </p>
  </body>

</html>
